.slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 310px;
  margin: 5px;
}

.thumb {
  width: 100px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  
  background: blue;
  cursor: pointer;
}